<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getfreerecharge.trainschedule">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity android:name=".activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.PnrStatus" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ScheduleOfTrain" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.TrainRoutes" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.CancelledTrain" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.RescheduledTrain" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.TrainArrivalAtStation" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.FairEnquirey" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.TrainsBetweenStation" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.SeatAvailabilities" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.HappyToHelp" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".webs.WebActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.HomeScreen" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>